
@font-face {
    font-family: 'D-DIN'; 
    src: url('../assets/fonts/D-DIN.otf') format('opentype');
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'D-DIN Condensed'; 
    src: url('../assets/fonts/D-DINCondensed.otf') format('opentype');
    font-weight: normal; font-style: normal;
}